# Node modules
node_modules/
**/node_modules/

# Environment Variables
.env
.env.*
!.env.example
**/.env
**/.env.*
!**/.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Build outputs
dist/
build/
.dist/

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
